
<ul class"ul-right">
  {{#each timelines}}
      <div class="topstuff">
        <div class="dates">{{date}}</div>
        <div class="times">{{times}}</div>
        <div class="icons">
          <i class="fa {{icon}}"></i>
        </div>
      </div>
      <li class="mainstuff">
        <section>
          <article>
            <h4>{{title}}</h4>
            <p>{{content}}</p>
          </article>
        </section>
      </li>
  {{/each}}
</ul>
